.left_body{
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 17em;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}
    
i {
    padding: 5px;
}
    
.spotify {
    font-size: 2.5em;
    padding: 0.7em;
    font-family: 'Signika', sans-serif;
    letter-spacing: -1.1px;
    cursor: pointer;
    }
    
.h_s_yl {
    font-size: 1.5em;
    padding-bottom: 0.9em;
    letter-spacing: -1.1px;
    word-spacing: 2px;
    letter-spacing: 0.2px;
    color: rgb(186, 186, 186);
    font-family: 'Red Hat Display', sans-serif;
    }
    
.h_s_yl div {
    padding: 0.7em;
    font-size: 0.8em;
    cursor: pointer;
}
    
.h_s_yl div:hover {
    color: white;
    transition-duration: 0.3s;
    }
    
.cp_ls_ye {
        font-size: 1.3em;
        padding-bottom: 0.3em;
        letter-spacing: -1.1px;
        word-spacing: 2px;
        letter-spacing: -0.5px;
        color: rgb(186, 186, 186);
        font-family: 'Red Hat Display', sans-serif;
    }
    
.cp_ls_ye div {
        padding: 0.5em;
        font-size: 0.9em;
        cursor: pointer;
    }
    
.cp_ls_ye div:hover {
    color: white;
    transition-duration: 0.3s;
    }
    
.saved {
        padding-top: 0.6em;
        line-height: 2em;
        height: 10em;
        overflow-y: hidden;
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 600;
        color: rgb(199, 199, 199);
        word-spacing: 0.2em;
        letter-spacing: 0.05em;
}
.saved span{
    padding: 10px;
}
.saved:hover{
    overflow-y: scroll;
    cursor: default;
}
.saved::-webkit-scrollbar {
    width: 10px;
}
.saved::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.low_player{
    position: fixed;
    top: 86%;
    left: 0px;
    width: 100%;
    height: 7em;
    display: flex;
    background-color: rgb(25, 25, 25);
}
.song_img{
    position: relative;
    left: 1.5%;
    top: 17%;
}
.song_img .name{
    position: relative;
    top: -30%;
    left: 10%;
    letter-spacing: 0.8px;
    font-size: 1.06em;
    font-family: 'Nunito', sans-serif;
}
.song_img .artist{
    position: relative;
    left: 50%;
    top: -30%;
    font-size: 0.8em;
    font-family: 'Quicksand', sans-serif;
    color: #c2c2c2;
    letter-spacing: 0.6px;
}
.song_img:hover{
    cursor: pointer;
}
.song_img .name:hover, .song_img .artist:hover{
    cursor: pointer;
    text-decoration: underline;
}
.like_pip{
    position: relative;
    left: 5%;
    top: 33.5%;
    font-size: 1.3em;
}
#pip{
    position: relative;
    left: 20%;
    top: 4%;
}
.sppnr{
    position: relative;
    left: 26.5%;
    top: 10%;
    font-size: 20px;
    word-spacing: 30px;
    cursor: default;
    /* background-color: antiquewhite; */
}
.sppnr .next{
    position: relative;
    top: 0%;
}
.paus{
    font-size: 30px;
}
.rep, .shuf{
    font-size: 15px;
}
.trackbar {
    position: relative;
    left: 1%;
    top: 60%;
    width: 35%;
    height: 5px;
    background-color: #666666;
    position: relative;
    border-radius: 10px;
}
.progress {
    height: 100%;
    background-color: #00c4ff;
    position: absolute;
    top: 0;
    left: 0;
}
.lqcm{
    position: relative;
    left: 14%;
    top: 35%;
    word-spacing: 15px;
    cursor: default;
}
.music_track {
    position: relative;
    left: 105%;
    top: -16%;
    width: 85%;
    height: 5px;
    background-color: #b4b4b4;
    position: relative;
    border-radius: 10px;
}
.music_track:hover{
    background-color: rgb(2, 198, 2);
    transition-duration: 0.3s;
}
.main{
    position: absolute;
    left: 20em; 
    top: 0em;
    width: 80em;
    height: 42rem;
    z-index: -1;
}
.scrolling{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background: rgb(31, 31, 31);
    background: linear-gradient(0deg, rgb(17, 61, 24) 10%, rgb(42, 255, 88) 100%);
}
.prev, .next{
    height: 40px;
    position: relative;
    left: 2%;
    top: 1.5em;
    padding: 5px;
}
.n_p .prev:hover{
    cursor: pointer;
}
.n_p .next:hover{
    cursor: not-allowed;
}
.premium_profile{
    position: relative;
    display: flex;
    align-items: center;
    left: 76%;
    top: -2em;
}
.premium{
    border: 0.1px solid rgb(114, 114, 114);
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    cursor: default;
}
.dp{
    height: 2em;
    width: 2em;
    border-radius: 50%;
}
.profile{
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    display: flex; 
    align-items: center;
    word-spacing: 2px;
}
.scrolling:hover{
    overflow-y: scroll;
    cursor: default;
}
.scrolling::-webkit-scrollbar {
    width: 10px;
}
.scrolling::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}
.pl_details{
    position: relative;
    left: 2.5%;
}